
<p><strong>Title:</strong>

<% if flash[:notice] %>
 <div class="alert alert-success" role="alert">
 <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p></div>
<% end %>

   <%= @book.title %></p>
   
<p><strong>Body:</strong>
   <%= @book.body %></p>
   
 <%= link_to "Edit", edit_book_path(@book.id) %>
 /
 <%= link_to "Back", books_path %>
